<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
		<add id="Themevast_SearchbyCat::searchbycat" title="Search By Cat" module="Themevast_SearchbyCat" sortOrder="0" parent="Themevast_Themevast::themevast_setting" resource="Themevast_SearchbyCat::searchbycat" action="adminhtml/system_config/edit/section/searchbycat" />
    </menu>
</config>
