<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		<add id="Themevast_CustomMenu::custommenu" title="Custom Menu" module="Themevast_CustomMenu" sortOrder="0" parent="Themevast_Themevast::themevast_setting" resource="Themevast_CustomMenu::custommenu" action="adminhtml/system_config/edit/section/custommenu" />
    </menu>
</config>