<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
	<default>
		<themeoption_setting>
			<less>
				<auto_render_less>0</auto_render_less>
			</less>
		</themeoption_setting>
	</default>
</config>
